h2 {
    background-color: yellow;
    color: green;
    font-size: 32px;
    font-weight: bold;
}

#black {
    color: yellow;
    background-color: violet;
    height: 700px;
    margin: 10px;
    border: 1px solid green;
}

.blue {
    height: 200px;
    background-color: blue;
    width: 100%;
    background: orange;
    margin: 10px;
    color: aqua;
    text-align: center;
}

h1 {
    color: #2d4e47;
    font-family: sans-serif, "Times New Roman";
    font-weight: 1000;
}

html {
    background-color: #eaa9a9;
}

#img {
    text-align: center;
    height: 600%;
    width: 1000px;
}