h2 {
    background-color: yellow;
    color: green;
    font-size: 32px;
    font-weight: bold;
}
#black {
    color: yellow;
    background-color: violet;
    height: 700px;
    width: 700px;
    margin: 10px;
    padding: 10px;
}
.blue {
    height: 800px;
    background-color: grey;
    width: 800px;
    background: orange;
    padding: 10px;
    margin: 10px;
}