h2 {
    background-color: yellow;
    color: green;
    font-size: 32px;
    font-weight: bold;
}
selector {
    property: value;
    property2: value2;
}
div {
    color: yellow;
    background-color: violet;
    height: 300px;
    width: 300px;
}